@import "node_modules/bootstrap/scss/_functions";
@import "theme.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/odometer/themes/odometer-theme-plaza";
@import "node_modules/jssocials/dist/jssocials";
@import "node_modules/jssocials/dist/jssocials-theme-plain";
// @import "node_modules/selectize/dist/css/selectize";
@import "../css/selectize-bootstrap-4-style-master/selectize.bootstrap4";

$root-slider-height: 350px;

body {
    font-family: 'Roboto';
    color: #555555;
}
.btn {
    font-family: 'Roboto';
    font-weight: normal;
    // letter-spacing: .1em;
    border-radius: 0px;
}
.card {
    border-radius: 0px;
}
.btn-gray {
    background: #9d9c9c;
    color: #ffffff;
    &.hover {
        background: #eeeeee;
    }
}
.light-weight {
    font-weight: 300;
}
.mt--1 {
    margin-top: -10px;
}
.mt--2 {
    margin-top: -20px;
}
.mt--3 {
    margin-top: -30px;
}
.mt--4 {
    margin-top: -40px;
}
.mt--5 {
    margin-top: -50px;
}

.text-gray {
    color: #adadad;
}

.text-dark-gray {
    color: #444444;
}

.text-light-gray {
    color: #888888;
}

.bg-gray-medium {
    background-color: #cccccc !important;
}
.bg-gray-light {
    background-color: #dddddd !important;
}
.bg-gray-lighter {
    background: #efefef !important;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: 'Roboto Condensed';
}
em {
    font-family: 'Roboto Condensed';
}

a.jssocials-share-link {
    border: 0px;
    color: #ffffff;
    background: $lavender;
    padding: .2em .3em;
}

label {
    text-decoration: uppercase;
}
.btn-light {
    color: #333;
}

.short-left-border {
    border-bottom: 2px solid #000;
    width: 30px;
    display: block;
    margin-bottom: 1em;
}
.partners-bg {
    background-image: url('/images/partners-bg.jpg'); 
    background-color: #c7c7c7;
    background-position: bottom center;
    background-repeat: no-repeat;
    
}
.header {
    background: #e1e1e1;
}
.odometer-digit {
    padding: .15em !important;
    font-weight: 400 !important;
    margin: auto .03em !important;
    .odometer-digit-inner {
        padding: .15em !important;
    }
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-plaza .odometer-digit {
    color: $dark;
    font-weight: bold;
    background: #ffffff;
    font-size: 1.4em;
    margin: 0.03em;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
    background-color: transparent;
}

.slick-next {
    right: 25px;
}
.slick-left {
    left: 25px;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

body {
    border-top: 5px solid $primary;
}
.navbar {
    background: #e1e1e1;
    font-family: 'Roboto Condensed';
    font-weight: 900;
    .btn-pledge {
        background: #fff;
        color: $lavender;
        border-radius: 0px;
        font-family: 'Roboto Condensed';
        font-weight: 900;
    }
}
.navbar-dark .navbar-nav .nav-link {

    &.active {
        color: rgba(255, 255, 255, 1) !important;
    }
    color: #dd8acb;
    border-right: 1px solid #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    margin: .3em .25em;
    padding-right: .9em;
}
li.nav-item:last-child a {
    border: none !important;
}

.ask-an-expert {
    .lead {
        font-family: 'Roboto';
        font-weight: 900;
    }
}
.footer {
    .bg-white {
        background: #ffffff;
        border-radius: 3px;
        padding: .2em .1em;
        &.fa-facebook {
            padding: 0.2em 0.4em;
        }
    }
    // background-color: rgb(253, 207, 73);
    // position: relative;
    // &::before {
    //     background-image: url('/images/footer-bg.png');
    //     background-position: center right;
    //     background-size: cover;
    //     content: "";
    //     opacity: 0.5;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: 0;   
      
    // }
    color: $white;
    h1, h2, h3, h4, h5, p, a {
        color: $white;
    }
}
  


.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: #ffffff; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }


.slick-prev, .slick-next {
    height: 50px;
    width: 50px;
    background: rgba(100,100,100,.7);
}

.slick-prev {
    left: 0px;
    z-index: 999999;
}

.slick-next {
    right: 0px;
}



.slick-dots {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  
  .slick-dots li button:before, .slick-dots li.slick-active button:before {
      color: #ffffff;
      font-size: 15px;
  }

  @media (min-width: 576px) {
    .slick-dots {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .slick-dots {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .slick-dots {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .slick-dots {
      max-width: 1140px;
    }
  }

.hero {
    margin-bottom: 0px !important;
    font-family: 'Roboto Condensed';
    height: $root-slider-height;
    position: relative;
    .slick-dots {
        margin-top: -60px;
        position: relative;
    }
    .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: $root-slider-height;
        position: relative;
        .bg-image {}
        .overlay {
            background: rgba(0,0,0, .50);
            height: 100%;
            width: 100%;
            position: absolute;
        }
        .caption {
            .title {
                font-weight: bold;
            }

            p,h1, h2,h3,h4,h5,h6 {
                color: #ffffff !important;
            }
             
            // display: inline-block;
            // bottom:0;
            // left: 0;
            // position: relative;
            // padding: 1rem;
        }
    }
}

.home.hero {
    height: 450px;
    .item {
        height: 450px;
    }
    .btn {
        border-radius: 0px;
        border-bottom: 5px solid inherit;
        &.btn-light {
            border-bottom: 5px solid #aaa7a7;
        }
        &.btn-primary {
            border-bottom: 5px solid #781c64;
        }
    }
}

@media only screen and (max-width: 480px) {

    .home.hero {

        .item {
            
            &.home-change-on-mobile {
                background-image: url('/images/home-banner-mobile.png') !important;
            }
        }
        
    }

}

#pledge-form {
    .form-control, select {
        // border-radius: 0px;
    }
}

.section.our-partners {
    .btn {
        color: #b3b2b2;
    }
}
.nav-pills .nav-item {
    border-bottom: 2px solid #ccc;
    &.active {
        border-bottom: 2px solid $lavender;
    }
}
.nav-pills .nav-link {
    color: inherit;
    
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: inherit !important;
    color: $lavender !important;

}
.nav-pills .nav-link:not(.active) {
    .fa-angle-up {
        display: none;
    }
}
.nav-pills .nav-link.active {
    .fa-angle-up {
        display: block;
    }
    .fa-angle-down {
        display: none;
    }
}


.tabs .nav-pills .nav-link {
    border-radius: 0px !important;
    &.active {
        background: $lavender !important;
        color: #ffffff !important;
        border: $lavender !important;
    }
}

.faqs {
    h5 {
        font-weight: normal;
    }
}

.contact .bg-secondary {
    background-image: url(/images/bg-contact.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav.nav-pills.outcast {
    position: absolute;
    display: none !important;
    width: 275px;
    left: -130px;
    margin-top: 10px;
}

.infographic {
    
  .hotspot {
    padding: 20px;
    // height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    // background-color: rgba(0, 0, 0, 0.45);
    // color: #fff;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    line-height: 40px;
    // border-radius: 20px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 650ms ease-in, width 350ms linear;
    transition: opacity 650ms ease-in, width 350ms linear;
    text-indent: -9999em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        .line {

    // width: 100px;
    height: 1px;
    background: #000;
    display: inline-block;
    margin-bottom: 3px;

        }
        .point {
            // background: url('/images/infographic/icons/point.png');
            // width: 10px;
            // height: 10px;
            display: inline-block;
            position: relative;
            top: -21px;
            // background-size: 10px 10px;
        }
        .line {
            top: -21px;
            position: relative;
        }
        .icon {
            width: 50px;
            height: 50px;
            display: inline-block;
            background-size: 45px;
            background-position: center center;
            background-repeat: no-repeat;

        }
        .icon.purple {
            display: none;
        }
        .icon.gray {
            // display: block;
        }
        &.is-active {
            .icon.gray {
                display: none;
            }
            .icon.purple {
                display: inline-block;
            }
        }
  }
  .hotspot.is-visible {
    opacity: 1;
  }
  .hotspot {
    padding: 0 20px 0 50px;
    text-indent: 0;
    width: auto;
    
  }
  .image {
    width: 600px;
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .image:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 70%;
  }
  .image .contain {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/images/infographic/human.png');
    background-size: 130px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .details {
    display: none;
    .icon {
        position: relative;
        top: -40px;
        margin-bottom: -30px;
        width: 70px; height: 70px;
    }
    &.is-visible {
        display: block !important;
    }
  }

}

.faqs [data-toggle=collapse]:after {
    font-family: 'FontAwesome';  
    content: "\f106";
    float: right; 
    color: $lavender;
}
.faqs [data-toggle=collapse].collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f107"; 
    color: $lavender;
}

.faqs {
    .card {
        margin-top: .5em;
        border: 0px;
        .card-header {
            border: 1px solid $lavender;

            &.collapsed {
                border: 0px !important;
            }
        }
        .card-body {
            border-bottom: 2px solid #ccc;
        }
    }
}

.partners {
    .img-fluid {
        border: 1px solid #ccc;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        font-size: .8em;
    }
    .navbar-nav {
        .nav-link {
            border: 0px !important;
        }
    }
    #pledge-form-wrapper p.lead {
        font-size: 1.1em;
    }
    .all-about-cancer {
        .nav.nav-pills.nav-justified {
            .nav-item {
                width: 25%;
                h5 {
                    font-size: .9em;
                }
            }
        }
    }
    .cancer-screening, .get-involved {
        .nav.nav-pills.nav-justified {
            .nav-item {
                width: 33%;
                h5 {
                    font-size: .9em;
                }
            }
        }
    }
    .partners {
        .nav.nav-pills.nav-justified {
            .nav-item {
                width: 20%;
                .nav-link {
                    padding: 10px;
                }
                h5 {
                    display: none;
                }
            }
        }
    }
}

.selectize-input:after, .selectize-input::after {
    display: none !important;
}

a, button:focus {
    outline: none !important;
}




#latest-queries [data-toggle=collapse]:after, #my-queries [data-toggle=collapse]:after {
    font-family: 'FontAwesome';  
    content: "\f106";
    float: right; 
    color: $lavender;
}
#latest-queries [data-toggle=collapse].collapsed:after, #my-queries [data-toggle=collapse].collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f107"; 
    color: $lavender;
}

#latest-queries, #my-queries {
    .card {
        margin-top: .5em;
        border: 0px;
        .card-header {
            border: 1px solid $lavender;

            &.collapsed {
                border: 0px !important;
            }
        }
        .card-body {
            border-bottom: 2px solid #ccc;
        }
    }
}

#latest-queries, #my-queries {
    h5 {
        font-weight: normal;
    }
}
